[submodule "3dgan-release"]
	path = 3dgan-release
	url = https://github.com/in-pursuit-of-beauty/3dgan-release.git
[submodule "mesh-parameterization"]
	path = mesh-parameterization
	url = https://github.com/in-pursuit-of-beauty/mesh-parameterization.git
[submodule "openaccess"]
	path = openaccess
	url = https://github.com/in-pursuit-of-beauty/openaccess.git
[submodule "The-Metropolitan-Museum-of-Art-Image-Downloader"]
	path = The-Metropolitan-Museum-of-Art-Image-Downloader
	url = https://github.com/in-pursuit-of-beauty/The-Metropolitan-Museum-of-Art-Image-Downloader.git
[submodule "BMSG-GAN"]
	path = BMSG-GAN
	url = https://github.com/in-pursuit-of-beauty/BMSG-GAN.git
[submodule "subjective-functions"]
	path = subjective-functions
	url = https://github.com/in-pursuit-of-beauty/subjective-functions.git
[submodule "sdae"]
	path = sdae
	url = https://github.com/in-pursuit-of-beauty/sdae.git
[submodule "Manifold"]
	path = Manifold
	url = https://github.com/hjwdzh/Manifold.git
