[submodule "3dgan-release"]
	path = 3dgan-release
	url = https://github.com/in-pursuit-of-beauty/3dgan-release.git
[submodule "mesh-parameterization"]
	path = mesh-parameterization
	url = https://github.com/in-pursuit-of-beauty/mesh-parameterization.git
